<html>
    <title>Collector's Vault: About</title>
    <head>
        <h1>The Collector's Vault</h1>
        <link rel="stylesheet" href="style.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    </head>
    <nav>
        <a href="/">Home</a>
        <a href="about">About</a>
        <a href="character">Characters</a>
        <a href="comic">Comics</a>
        <a href="Contact">Contact Us</a>
    </nav>
    <body>
        <main>
            <h2>About This Website</h2>
            <img src="Knowhere.png" alt="Knowehere" width="400" height="400">
            <h2>This website was created by sschmitz14 at https://github.com/it-sd/sqc-project-sschmitz1414.</h2>
            <p>This site is about various Marvel characters and information about each of them. There will be 
                multiple pages to explore. You can explore the main page which will help explain the main topic 
                and how to go to each page. Next, there is both a character and comic page that will give information 
                about both respectively. Lastly, there will be a contact page that will allow you to contact me, the 
                creator, for any reason.</p>
        </main>
    </body>
</html>