<html>
    <title>Collector's Vault: Characters</title>
    <head>
        <h1>The Collector's Vault</h1>
        <link rel="stylesheet" href="style.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    </head>
    <nav>
        <a href="/">Home</a>
        <a href="about">About</a>
        <a href="character">Characters</a>
        <a href="comic">Comics</a>
        <a href="Contact">Contact Us</a>
    </nav>
    <body>
        <main>
            <h2>Marvel Characters</h2>
            <img src="Characters.png" alt="Infinity Gauntlet" width="600" height="400">
            <br>
            <table width='80%'>
                <tr style='background-color:black; color:white; text-align:left;'>
                    <th>character_id</th>
                    <th>comic_id</th>
                    <th>name</th>
                    <th>profile</th>
                    <th>powers</th>
                </tr>
            </table>
            
            <%_ for (const char of character) { _%>
                <li><a href="/<%= char.character_id %>"><%= story.name %></a></li> 
              <%_ } _%>
        </main>
    </body>
</html>