<html>
    <title>Collector's Vault: Comics</title>
    <head>
        <h1>The Collector's Vault</h1>
        <link rel="stylesheet" href="style.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    </head>
    <nav>
        <a href="/">Home</a>
        <a href="about">About</a>
        <a href="character">Characters</a>
        <a href="comic">Comics</a>
        <a href="Contact">Contact Us</a>
    </nav>
    <body>
        <main>
            <h2>Marvel Comics</h2>
            <img src="Comics.png" alt="Stan Lee" width="700" height="400">
            <br>
            <table width='80%'>
                <tr style='background-color:black; color:white; text-align:left;'>
                    <th>Creator</th>
                    <th>Release Date</th>
                </tr>
                    <%_ for (const com of comics) { _%>
                    <tr>
                        <td><%= com.creator %></td>
                        <td><%= com.release_date %></td>
                    </tr>
                <%_ } _%>
            </table>
            <h3>Data provided by Marvel. © 2014 Marvel</h3>
        </main>
    </body>
</html>