<html>
    <title>Collector's Vault: Contact</title>
    <head>
        <h1>The Collector's Vault</h1>
        <link rel="stylesheet" href="style.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    </head>
    <nav>
        <a href="/">Home</a>
        <a href="about">About</a>
        <a href="character">Characters</a>
        <a href="comic">Comics</a>
        <a href="Contact">Contact Us</a>
    </nav>
    <body>
        <main>
            <h2>Contact Us</h2>
            <img src="SSpidey.png" alt="Symbiote Spider-Man" width="800" height="400">
            <p>Creator: Samuel Schmitz</p>
            <p>Email: sschmitz14@student.cvtc.edu</p>
            <p>Phone: 715-225-2479</p>
        </main>
    </body>
</html>