<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    </head>
    <body>
    
    <title>The Collector's Vault</title>
        <main>
            <h1>The Collector's Vault</h1>
            <br>
            <h2>This is the Collector's Vault where you can find all the Marvel Information you please!</h2>
            <br>
            <p>If you would like to </p>
        </main>
    </body>
</html>