<html>
    <title>Collector's Vault</title>
    <head>
        <h1>The Collector's Vault</h1>
        <link rel="stylesheet" href="style.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    </head>
    <nav>
        <a href="">Home</a>
        <a href="about">About</a>
        <a href="character">Characters</a>
        <a href="comic">Comics</a>
        <a href="Contact">Contact Us</a>
    </nav>
    <body>
        <main>
            <h2>Welcome, Hero!!</h2>
            <img src="MarvelLogo.png" alt="Marvel Logo" width="800" height="300">
            <h2>This is the Collector's Vault where you can find all the Marvel Information you please!</h2>
            <p>The <a href="about">About</a> page explains what purpose the site was created for.</p>
            <p>The <a href="character">Characters</a> page shows a list of Marvel characters and their profiles.</p>
            <p>The <a href="comic">Comics</a> page shows a list of Marvel comic information.</p>
            <p>The <a href="contact">Contact</a> page allows you to contact the creator if you have any issues.</p>
        </main>
    </body>
</html>