body {
    background-color: black;
    font-family: Verdana;
}

nav {
    text-align: center;
}

h1 {
    background-color: white;
    color: red;
    text-align: center;
}

h2 {
    color: purple;
    text-align: center;
}

h3 {
    color: pink;
    text-align: center;
}

p {
    color: white;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
}

p {
    color: white;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
}


small {
    color: black;
    text-emphasis: 10;
    text-align: center;
}

ul > li {
    color: white;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
}

img {
    align-items: center;
    display: block;
    margin: auto;
}

table {
    color: white;
    text-align: center;
}

th{
    color: white;
    text-align: center;
}

td {
    color: white;
    text-align: center;
}